:root{
    --cor-principal: rgba(57, 57, 109, 0.438);
    --cor-secundária: rgba(13, 13, 53, 0.103);
    --botao-azul: rgba(74, 74, 255, 0.856);
    --cor-fundo: rgba(174, 0, 255, 0.829);

}
body{
    background-color:var(--cor-fundo) ;
}