:root{
    --cor-principal: #ca21b470;
    --cor-secundária: rgba(202, 29, 136, 0.767);
    --botao-azul: rgba(74, 74, 255, 0.856);
    --cor-fundo: rgba(174, 0, 255, 0);

}
body{
    background-color:var(--cor-fundo) ;
}
.principal{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
}
.container__botao{
    background-color: transparent;
    border: 2px solid white;
}